<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button size="big" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Victims Data - Table</h1>
  

  <ion-card style="margin: 12px">
    <ngx-datatable 
      class="material"
      [limit]="8" 
      [rows]="rows" 
      [rowHeight]="50" 
      [columns]="columns"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="50" 
      [footerHeight]="50">
    </ngx-datatable>
  </ion-card>

</ion-content>
