@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Noto';
  src: url('../assets/fonts/NotoSans-Regular.ttf');
  font-style: normal;
}