<ion-content>
  <img src="assets/images/protectfamily.png" style="width: 100%;"/>
  <ion-card class="hover-form stick-bottom">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Peduli, Lindungi</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>    
      <ion-list>
        <ion-item lines='inset'>
          <ion-label *ngIf="!windowRef.confirmationResult" position="stacked">Phone Number</ion-label>
          <ion-input *ngIf="!windowRef.confirmationResult" type="tel" [(ngModel)]="phoneNumber" placeholder="+628123456789" maxlength="16"></ion-input>
          <ion-label *ngIf="windowRef.confirmationResult" position="stacked">{{phoneNumber}}</ion-label>
          
          <div class="validation-errors">
            <ng-container *ngIf="windowRef.hasError">
              <div class="error-message">
                Phone number is not valid.
              </div>
            </ng-container>
          </div>
        </ion-item>
      </ion-list>
      
      <div id="recaptcha-container" [class.hidden]="windowRef.confirmationResult" ></div>

      <ion-button *ngIf="!windowRef.confirmationResult" expand="block" share="round" color="mainBtn" type="submit" (click)="sendLoginCode()" id="loginBtn">Log In</ion-button>

      <div *ngIf="windowRef.confirmationResult">
        <hr> 
        <ion-list>
          <ion-item lines='inset'>
            <ion-label position="stacked">Enter your Verification Code Here</ion-label>
            <ion-input type="text" name="code" [(ngModel)]="verificationCode"></ion-input>
          </ion-item>
        </ion-list>
    
        <ion-button (click)="verifyLoginCode()" expand="block" share="round" color="mainBtn" >Verify</ion-button>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
