<ion-content>
  <img src="assets/images/protectfamily.png" style="width: 100%;"/>
  <ion-card class="hover-form stick-bottom">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Peduli, Lindungi</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">    
        <ion-list>
          <ion-item lines='inset'>
            <ion-label position="stacked">Username</ion-label>
            <ion-input autocomplete="off" type="text" formControlName="username"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
              <div class="error-message"
                *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          
          <ion-item lines='inset'>
            <ion-label position="stacked">Password</ion-label>
            <ion-input autocomplete="off" type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message"
                *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          
          <ion-item lines='none' style="font-size: 15px">
            <a routerLink='/signup'>Create Account</a>
          </ion-item>
        </ion-list>
        <ion-button expand="block" share="round" color="mainBtn" type="submit" [disabled]="!validations_form.valid">Log In</ion-button>
        <!-- <ion-button expand="block" share="round" color="mainBtn">Login</ion-button> -->
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
