<ion-slides pager="true" [options]="slideOpts">
  <ion-slide class="zero-padding">
    <img src="assets/images/wearmask.png" style="width: 100%;"/>
    <h2>Memakai Masker<span class="lighter"> <br/> - Cegah Penularan</span></h2>
    <p>Ini adalah technical interview HiApp yang dikerjakan oleh Nicholas Kotama.</p>
  </ion-slide>
  
  <ion-slide class="zero-padding">
    <img src="assets/images/washhand.png" style="width: 100%;"/>
    <h2>Mencuci Tangan<span class="lighter"> <br/> - Bunuh Virus</span></h2>
    <p>Rajinlah mencuci tangan minimal 20 detik.</p>
  </ion-slide>
  
  <ion-slide class="zero-padding">
    <img src="assets/images/socialdistance.png" style="width: 100%;"/>
    <h2>Menjaga Jarak<span class="lighter"> <br/> - Lindungi Orang Sekitar</span></h2>
    <p>Jaga jarak, peduli dan lindungi keluarga dan sekitar kita.</p>
  </ion-slide>

</ion-slides>
