ion-slide {
  padding: 160px 20px 160px 20px;
  display: block;
  img {
    width: 100px;
  }

  h2 {
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: bold;
  }
}

.zero-padding {
  padding: 10px 10px 50px 10px;
}

.lighter {
  font-weight: 300;
}